<div class="container">
  <div class="row align-items-center my-5">
    <div class="col-md-6 mb-3 mb-md-0 text-center">
      <img src="/assets/ubicacion/central.jpg" class="img-fluid rounded-3 w-100" style="aspect-ratio: 16/9; object-fit: cover;">
    </div>
    <div class="col-md-6">  
      <p>
        <strong>Optica Central:</strong> Nos encontramos en la localidad de Mar del Plata, Buenos Aires.
        <br>
        <strong>Dirección:</strong> Av. Independencia 1357.
        <br>
        <strong>Ubicación:</strong> Para ir a la ubicación del local presione 
        <a type="button" class="" target="_blank"
        href="https://www.google.com.ar/maps/place/Óptica+Multi+Visión+MDP/@-37.9935074,-57.55064,15z/data=!4m15!1m8!3m7!1s0x9584dd22b610bfa3:0x17f8bf3b5a2815df!2sÓptica+Multi+Visión+MDP!8m2!3d-37.9934128!4d-57.5508365!10e5!16s%2Fg%2F11pv9f08rp!3m5!1s0x9584dd22b610bfa3:0x17f8bf3b5a2815df!8m2!3d-37.9934128!4d-57.5508365!16s%2Fg%2F11pv9f08rp?hl=es&entry=ttu&g_ep=EgoyMDI1MDcwOS4wIKXMDSoASAFQAw%3D%3D">
        Aquí.
        </a>
      </p>
    </div>  
  </div>
</div>
