<div class="container">
  <div class="row align-items-center my-5">
    <div class="col-md-6 mb-3 mb-md-0 text-center">
      <img src="/assets/ubicacion/central.jpg" class="img-fluid rounded-3 w-100">
    </div>
    <div class="col-md-6">  
      <p>
        <strong>Optica Central:</strong> Nos encontramos en la localidad de La Cruz, Ctes.
        <br>
        Dirección: Av Juan Branchi S/N al lado de las vías, entre calles Juan bautista cabral y calle Cabral.
        <br>
        Para ir a la ubicación del local presione 
        <a type="button" class="" target="_blank"
        href="https://www.google.com/maps/place/Optica+Urbana/@-29.1718838,-56.6489125,19z/data=!4m6!3m5!1s0x945461a0c475980f:0x1faaadbaae4c72b6!8m2!3d-29.1717373!4d-56.6486537!16s%2Fg%2F11sb077sjb?entry=ttu">
        Aquí
        </a>
      </p>
    </div>  
  </div>
  <div class="row align-items-center my-5">
    <div class="col-md-6 mb-3 mb-md-0 text-center">
      <img src="/assets/ubicacion/sucursal.jpg" class="img-fluid rounded-3 w-100" >
    </div>
    <div class="col-md-6">
      <p>
        <strong>Sucursal:</strong>  Visitanos en la localidad de Yapeyu, Ctes.
        <br>
        Dirección: Calle Aguado frente
        al Regimiento. Los dias Lunes, miercoles y viernes. de 11:15 a 17:30.
        <br>
        Para ir a la ubicación del local presione 
        <a type="button" class="" target="_blank"
      href="https://maps.app.goo.gl/jR9f6zd6xs4u8G1fA">
      Aquí
      </a> 
      </p>
    </div>
  </div>
</div>
