<div class="container">
    <div class="row my-5">
        <img src="/assets/ubicacion/central.jpg" class="col-6 rounded-3"  style="width: 50%; height: auto;">
        <label class="col">Optica Central: nos encontramos en la localidad de Recoleta, Buenos Aires.
        <br>
        Dirección: Callao 1313.
        <br>
        Para ir a la ubicación del local principal presione 
        <a type="button" class="" target="_blank"
        href="https://www.google.com.ar/maps/place/Óptica+JIMENA+LIVOTI.+Expertos+en+MULTIFOCALES/@-34.5936886,-58.3954456,17z/data=!3m1!4b1!4m6!3m5!1s0x95bccb11c3b17411:0x96a6d8e78e1ab13!8m2!3d-34.5936886!4d-58.3928653!16s%2Fg%2F11s53qg7mg?hl=es&entry=ttu&g_ep=EgoyMDI1MDUxMy4xIKXMDSoASAFQAw%3D%3D">
        Aquí
        </a>
        </label>
    </div>
</div>


