<div class="cuadrado">
    <img src="/assets/sobre Nosotros/fondo2.jpg" alt="" class="background-image">
    <div class="contenido container rounded p-3">
        <h2>Política de Garantía de Anteojos</h2>
        <p>
            Esta política establece los términos y condiciones de la garantía 
            ofrecida por Óptica Urbana para los anteojos adquiridos por 
            nuestros clientes. 
        </p>
        <ol>
            <li class="titulo">
                <h3 >Cobertura de la Garantía</h3>
                <p class="texto">
                    La garantía cubre cualquier defecto de fabricación o materiales 
                    presentes en los anteojos durante un período de 1 mes a partir 
                    de la fecha de compra. Los defectos cubiertos incluyen:
                </p>
                <ul class="texto">
                    <li >
                        Desprendimiento de las monturas.
                    </li>
                    <li >
                        Roturas o daños en los lentes no causados por el cliente.
                    </li>
                    <li >
                        Defectos en los materiales de fabricación que afecten la 
                        funcionalidad de los anteojos.
                    </li>
                </ul>
            </li>
            <li class="titulo">
                <h3 >Exclusiones</h3>
                <p class="texto">
                    La garantía no cubre daños causados por:
                </p>
                <ul class="texto">
                    <li >
                        Uso inadecuado o negligencia por parte del cliente.
                    </li>
                    <li>
                        Alteraciones no autorizadas realizadas en los anteojos.
                    </li>
                    <li>
                        Daños causados por accidentes, caídas o exposición a condiciones extremas.
                    </li>
                </ul>
            </li>
            <li class="titulo">
                <h3>Proceso de Reclamo de Garantía</h3>
                <p class="texto">
                    Para hacer valer la garantía, el cliente debe seguir estos pasos:
                </p>
                <ol type="a" class="texto">
                    <li>
                        Comunicarse con nosotros.
                    </li>
                    <li>
                        Proporcionar la prueba de compra original. 
                    </li>
                    <li>
                        Devolver los anteojos a Óptica Urbana para su inspección.
                    </li>
                </ol>
            </li>
            <li class="titulo">
                <h3> Evaluación y Resolución</h3>
                <p class="texto">
                    Nuestro equipo técnico evaluará los anteojos devueltos para determinar 
                    si el defecto está cubierto por la garantía. En caso afirmativo, 
                    ofreceremos una de las siguientes soluciones:
                </p>
                <ul class="texto">
                    <li>
                        Reparación gratuita de los anteojos.
                    </li>
                    <li>
                        Reemplazo de los anteojos por un par nuevo de igual modelo y características.
                    </li>
                </ul>
            </li>
            <li class="titulo">
                <h3>Costos y Responsabilidades</h3>
                <p class="texto">
                    Los costos de envío para devolver los anteojos a nuestras instalaciones 
                    para su evaluación corren por cuenta del cliente. Óptica Urbana cubrirá 
                    los costos de reparación o reemplazo, así como los gastos de envío de 
                    retorno de los anteojos reparados o reemplazados al cliente.
                </p>
                <p class="texto">
                    En caso de no cumplir con nuestra 
                    cobertura nuestro equipo se estará contactando con el cliente. 
                </p>
            </li>
            <li class="titulo">
                <h3>Limitación de Responsabilidad</h3>
                <p class="texto">
                    Óptica Urbana no será responsable por daños indirectos, incidentales 
                    o consecuentes que puedan surgir por el mal trato del transporte.
                </p>
            </li> 
            <li class="titulo">
                <h3>Contacto</h3>
                <p class="texto">
                    Para hacer uso de esta garantía o para obtener más información, el cliente 
                    puede ponerse en contacto con nuestro equipo de atención al cliente a 
                    través de los siguientes medios:
                </p>
                <ul class="texto">
                    <li>
                        Teléfono: 3764645752
                    </li>
                    <li>
                        Correo electrónico: opticaurbana2021@gmail.com 
                    </li>
                    <li>
                        Dirección: av. Juan Branchi s/n al lado de las vías, La Cruz, Ctes.
                    </li>
                </ul>
            </li>            
        </ol>
    </div>
</div>
