.btn-outline-primary{
  background-color: #2196f3;
  color: #f5faff;
  border: none;
}

.btn-outline-primary:hover {
  background-color: #bbdefb;
  border-color: #bbdefb;
  color: #0F0E49;
}


.nuestroCatalogo {
  background-color: #2196f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente los elementos en .nuestroCatalogo */
}

.nuestroCatalogo p {
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  text-align: center; /* Centra el texto dentro del párrafo */
}

.filtros {
  background-color: #bbdefb;
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos se envuelvan a una nueva línea cuando no haya suficiente espacio */
}

.filtros .dropdown {
  margin-right: 10px; /* Agrega un margen entre los elementos para separarlos */
}

/* CSS */
.card-container {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0; /* Inicialmente, establecemos la opacidad en 0 */
  transition: opacity 1s; /* Agregamos una transición suave para la opacidad */
  z-index: 2;
  
  /* Puntas redondas en la parte superior */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.show1 {
  opacity: 1; /* Cuando se agrega la clase 'show', la opacidad será 1 */
  display: flex;
}
    
.show1 {
  display: flex;
}

.show {
  transition: opacity 0.7s;
}

@media (max-width: 700px) {
  .filtros .dropdown {
      margin-bottom: 10px; /* Puedes ajustar el margen según tus preferencias */
      width: 100%; /* Asegura que ocupen todo el ancho disponible */
      text-align: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.metodo-cobro-col {
  width: 20%; /* O el porcentaje o tamaño deseado */
  min-width: 200px; /* Tamaño mínimo para que no colapse */
  max-width: 300px; /* Tamaño máximo para que no crezca demasiado */
  text-align: left; /* Opcional: Alinear el contenido */
}

.metodo-cobro-col ul {
  margin: 0; /* Elimina márgenes internos */
  padding: 0; /* Elimina el padding si lo necesitas */
}

.metodo-cobro-col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fecha-col {
  min-width: 100px; /* Tamaño mínimo para la columna */
  max-width: 150px; /* Tamaño máximo para evitar que sea demasiado ancha */
  white-space: nowrap; /* Evita que el texto salte a la siguiente línea */
  text-align: center; /* Centra el texto, opcional */
  overflow: hidden; /* Asegura que no desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si es necesario */
}

.ficha-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px; /* Espaciado entre ficha y lista */
}

.ficha {
  font-weight: bold;
  white-space: nowrap; /* Evita que se divida en varias líneas */
}

.detalles {
  list-style-type: disc;
  padding-left: 15px;
  margin: 0;
}

.col-id {
  width: 1%;
  white-space: nowrap;
}

