/* Estilos generales */
p {
  text-align: justify;
  font-size: 18px;
}

.btn-outline-primary {
  background-color: #E91E63;
  color: #f5faff;
  border-color: #E91E63;
  width: 200px;
  height: 60px;
}

.btn-outline-primary:hover {
  background-color: #F8BBD0;
  border-color: #F8BBD0;
  color: #0F0E49;
}

.titulo {
  background-color: #f5faff;
}

a {
  cursor: pointer;
}

/* Estilos para pantallas más pequeñas (menos de 1200px) */
@media (max-width: 1200px) {
  .navbar-expand-lg {
      flex-direction: column;
  }

  .navbar-nav .nav-item {
      margin: 10px 0;
  }

  .col-4,
  .col-5,
  .col-6 {
      width: 100%;
      margin: 0 auto;
  }
}

