<div class="container mt-3">
    <div class="navbar-expand-lg  text-body d-flex justify-content-around" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 ">
        <li class="nav-item mx-5 my-1">
            <button class="btn btn-outline-primary" (click)="scrollToSection('cristales')">CRISTALERÍA</button>
        </li>
        <li class="nav-item mx-5 my-1">
            <button class="btn btn-outline-primary" (click)="scrollToSection('receta')">TRATAMIENTOS DE ANTEOJOS DE RECETA</button>
        </li>
        <li class="nav-item mx-5 my-1">
            <button class="btn btn-outline-primary" (click)="scrollToSection('sol')">TRATAMIENTOS DE ANTEOJOS DE SOL</button>
        </li>
        </ul>
    </div>

    <!-- SECCION 1-->
    <div class=" titulo container p-4 d-flex align-items-center mt-5" id="cristales">
        <p>CRISTALES</p>
    </div>
    <div class="row my-5 border rounded p-3">
        <img src="/assets/pagina cristaleria/monofocal.jpeg" class="col-4 "  >
        <div class="col ">
            <span>
                <p> Los <strong>CRISTALES MONOFOCALES</strong> son lentes oftálmicas que tiene 
                una sola distancia focal, es decir, ofrece una sola graduación para 
                corregir un problema visual específico, ya sea presbicia, miopía, 
                hipermetropía o astigmatismo.</p>
                <p>Las lentes que tengan poder negativo su diseño serán más gruesas en 
                toda la periferia y más delgadas en el centro, mientras más graduación 
                negativa tenga la lente esta será más gruesa por lo cual se recomienda 
                armazones que no sean muy grandes.</p>
                <p>En cambio, una lente con poder positivo será lo contrario, su grosor estará 
                en el centro haciéndose más delgada en la periferia y en este caso se recomienda 
                armazones un poco más amplios.</p>
                <p>Para pacientes que necesitan cristales con graduación media alta podemos 
                ofrecer cristales más finos para, sobre todo, disfrutar de un campo visual 
                más amplio y cristales más estéticos.</p>
            </span>
        </div>
    </div>
    <div class="row my-5 border rounded p-3">
        <div class="col ">
            <span>
                <p>Las <strong>LENTES BIFOCALES</strong> están diseñadas para ver de lejos y cerca, la parte superior 
                del lente tiene la graduación que el paciente necesita para ver de lejos corrigiendo 
                miopía, hipermetropía y astigmatismo y en la media luna localizada en la parte inferior 
                se coloca adicionalmente la graduación cercana corrigiendo así la presbicia.</p>
                <ul>
                    <li><p>Ayudan a corregir ambas distancias de visión en personas que padecen la presbicia.</p></li>
                    <li><p>No hay necesidad de estar retirando el lente como en un lente de lectura.</p></li>
                    <li><p>El paciente tendrá el estímulo visual necesario acorde a cada ojo.</p></li>
                    <li><p>No se presenta la fatiga ocular que ocasionan los lentes de solo lectura.</p></li>
                    <li><p>Más comodidad, ya que no tienes que estar cargando dos lentes.</p></li>
                </ul>  
            </span>
        </div>
        <img src="/assets/pagina cristaleria/9.jpeg" class="col-4"  >
    </div>
    <div class="row my-5 border rounded p-3">
        <img src="/assets/pagina cristaleria/11.jpg" class="col-5 "  >
        <p class="col ">
            <span>
                <p>Los <strong>ANTEOJOS OCUPACIONALES</strong> tienen 2 distancias focales en un solo anteojo, es decir, 
                que sirven para los que realizan actividades usando la visión intermedia y cercana.</p>
                <p>Los lentes ocupacionales son elaborados para quienes pasan mucho tiempo frente dispositivos digitales.</p>
                <p>Estas gafas están diseñadas solo para la lectura en una distancia cercana e intermedia. Por lo que son 
                ideales para el trabajo de oficina, donde enfocas tanto en una distancia corta (40 centímetros), o distancia 
                media (50 cm a 150 cm), como la pantalla de tu ordenador.</p>
            </span>
        </p>
    </div>
    <div class="row my-5 border rounded p-3">
        <div class="col ">
            <span>
                <p>Los <strong>LENTES PROGRESIVOS</strong> están diseñados para ser utilizados durante todo el día, 
                al contar con todas las graduaciones que el paciente requiere para trabajar en distancias lejanas, 
                cercanas e intermedias.</p>
                <p>Tienen un corredor óptico intermedio, que se adaptadas a cada paciente y a cada uno de sus ojos. 
                A los extremos de las lentes, es decir, del lado de la nariz y del lado de las orejas, hay unas 
                zonas de aberración o borrosas, mientras que la visión clara es la central.</p>
                <ul>
                    <li><p>Ayudan a corregir tres distancias de visión (lejana, intermedia y cercana)</p></li>
                    <li><p>En pacientes que utilizan la computadora son más cómodos que un bifocal, ya que la zona intermedia ayudar a enfocar mejor el monitor.</p></li>
                    <li><p>No hay necesidad de estar retirando el lente como en un lente de lectura.</p></li>
                    <li><p>El paciente tendrá el estímulo visual necesario acorde a cada ojo.</p></li>
                    <li><p>No se presenta la fatiga ocular </p></li>
                    <li><p>Más comodidad, ya que no tienes que estar cargando dos lentes.</p></li>
                    <li><p>Por su tecnología son más cómodos que un bifocal, porque no tienen ninguna división visible y la progresión de las graduaciones son más amenas.</p></li>
                </ul>
            </span>
        </div>
        <img src="/assets/pagina cristaleria/multifocal.jpeg" class="col-6"  >
    </div>

    <!-- SECCION 2-->
    <div class="titulo container p-4 d-flex align-items-center " id="receta">
        <p >TRATAMIENTOS DE ANTEOJOS DE RECETA</p>
    </div>
    <div class="row my-5 border rounded p-3">
        <img src="/assets/pagina cristaleria/1.jpeg" class="col-5">
        <div class="col " >
            <p>Los <strong>CRISTALES CON ANTIREFLEJO</strong> están diseñados para reducir la cantidad
            de luz que se refleja en la superficie del lente. Esto se logra mediante
            la aplicación de una capa especial a la superficie del cristal, que reduce 
            la cantidad de luz que se refleja. Al reducir el reflejo de la luz, los lentes
            antirreflejo pueden mejorar la calidad de la visión, especialmente en situaciones
            con poca iluminación. Reducen los reflejos no deseados en la superficie del lente
            y pueden ayudar a reducir la fatiga ocular.</p>
        </div>
    </div>
    <div class="row my-5 border rounded p-3">
        <div class="col " >
            <p>Los <strong>CRISTALES BLUE CUT</strong> también conocidos como filtro azul o para pantallas
            es el tratamiento que protege tus ojos reduciendo la cantidad de luz
            azul que llega al ojo. Procedente de pantallas led como celulares, tablets,
            monitores, televisiones, etc. Previniendo así el daño causado por la exposición
            a estos dispositivos. Tambien podemos pedir estos cristales con Antireflex y laca
            de endurecimiento para que nuestros cristales tengan mas vida útil y se rayen menos.</p>
        </div>
        <img src="/assets/pagina cristaleria/2.jpeg" class="col-5"  >
    </div>
    <div class="row my-5 border rounded p-3">
        <img src="/assets/pagina cristaleria/3.jpg" class="col-4 "  >
        <div class="col ">
            <p>Los <strong>CRISTALES FOTOCROMÁTICOS</strong> son lentes fotosensibles lo que significa
            que gracias a los materiales con los que se fabrican, se oscurecen gradualmente en presencia
            de la luz del sol. Una vez que dejan de estar expuestos a esos rayos del sol,
            se van aclarando hasta volver a tener la apariencia de un cristal graduado normal.
            Este cristal puede venir con tratamiento antireflex o filtro para pantallas.</p>
        </div>
    </div>
    

    <!-- SECCION 3-->
    <div class="titulo container p-4 d-flex align-items-center" id="sol">
        <p>TRATAMIENTOS DE ANTEOJOS DE SOL</p>
    </div>
    <div class="row my-5 border rounded p-3">
        <img src="/assets/pagina cristaleria/4.png" class="col-4 "  >
        <div class="col ">
            <p>Las <strong>GAFAS DE SOL UV400</strong> se trata de un filtro que protege a los ojos de entre un 99% y un 
            100% de los rayos UV (es decir, UVA y UVB incluidos). El número 400 
            viene de la longitud de onda, ya que unas gafas que cuenten con este 
            tipo de protección deben ser capaces de bloquear rayos UV con una longitud 
            de onda menor a 400 nanómetros.</p>
        </div>
    </div>
    <div class="row my-5 border rounded p-3">
        <div class="col " >
            <p>Los <strong>CRISTALES POLARIZADOS</strong> son lentes de sol que contienen un filtro especial que bloquea
            la luz reflejada y sólo deja pasar la luz útil, permitiendo una visión sin reflejos y con
            un color y contraste naturales. Las lentes polarizadas nos sirven para actividades al aire libre,
            conducir, pescar, deportes acuáticos y de nieve.</p>
        </div>
        <img src="/assets/pagina cristaleria/5.png" class="col-4"  >
    </div>
    <div class="row my-5 border rounded p-3">
        <img src="/assets/pagina cristaleria/6.png" class="col-4 "  >
        <div class="col ">
            <p>Los <strong>LENTES ESPEJADOS</strong> poseen una capa de tratamiento reflectante 
            en la cara externa que les permite reflejar el entorno y, por supuesto, 
            la luz, protegiendo a los ojos del exceso de luminosidad de la luz directa 
            y de los reflejos que se producen en superficies como el agua, la arena, 
            la nieve o el asfalto. Ideal para deportes náuticos y en ambientes deslumbrantes.</p>
        </div>
    </div>    
</div>
