<div class="cuadrado">
    <img src="/assets/sobre Nosotros/fondo2.jpg" alt="" class="background-image">
    <div class="contenido container rounded p-3">
        <h2>Política de Envío de Anteojos</h2>
        <ol>
            <li class="titulo">
                <h3>Procesamiento de Pedidos</h3>
                <p class="texto">
                    Todos los pedidos de anteojos realizados a través de nuestra 
                    empresa, Óptica Urbana serán procesados y enviados dentro de 15 
                    días hábiles a partir de la fecha de confirmación del pago. Por favor, 
                    ten en cuenta que los días hábiles no incluyen fines de semana ni días 
                    festivos.

                </p>
                <p class="texto">
                    En caso de tener alguna demora, nos comunicaremos con el paciente.
                </p>
            </li>
            <li class="titulo">
                <h3>Destinos de Envío</h3>
                <p class="texto">
                    Ofrecemos envío a todo el país.  
                </p>
            </li>
            <li class="titulo">
             <h3>Métodos de Envío</h3>
                <p class="texto">
                    Ofrecemos varias opciones de envío para que elijas 
                    la que mejor se adapte a tus necesidades. Las opciones 
                    de envío incluyen correo argentino, crucero exprés y vía cargo. 
                </p>
            </li>
            <li class="titulo">
                <h3>Tiempos de Entrega</h3>
                <p class="texto">
                    Los tiempos de entrega pueden variar según el método de envío 
                    seleccionado y la ubicación del destinatario. Por lo general, 
                    los tiempos de entrega estimados son los siguientes:
                </p >
                <ul class="texto">
                    <li>
                        Envío Estándar: 7 a 15 días hábiles.
                    </li>
                </ul>
                <p class="texto">
                    Ten en cuenta que estos plazos de entrega son estimados y pueden 
                    estar sujetos a demoras imprevistas debido a factores fuera de nuestro 
                    control, como condiciones climáticas adversas o problemas logísticos.
                </p>
            </li>
            <li class="titulo">
                <h3>Seguimiento de Envíos</h3>
                <p class="texto">
                    Una vez que tu pedido haya sido procesado y enviado, 
                    recibirás un mensaje que incluirá el número de seguimiento. 
                </p>
            </li>
            <li class="titulo">
                <h3>Costos de Envío</h3>
                <p class="texto">
                    El costo del envío se calculará una vez que el producto esté 
                    listo para ser enviado.
                </p>
                <p class="texto">
                    Nuestro equipo se pondrá en contacto con usted para proporcionarle 
                    el costo exacto del envío antes de procesar su pago.
                </p>
                
            </li>
            <li class="titulo">
                <h3>Cambios en la Dirección de Envío</h3>
                <p class="texto">
                    Si necesitas realizar un cambio en la dirección de envío 
                    después de haber realizado tu pedido, por favor contáctanos de inmediato 
                    a través de opticaurbana2021@gmail.com Haremos todo lo posible para 
                    actualizar la dirección de envío, pero no podemos garantizar cambios 
                    una vez que el pedido haya sido procesado.
                </p>
            </li>
            <li class="titulo">
                <h3>Devoluciones y Reemplazos</h3>
                <p class="texto">
                    Para obtener información sobre devoluciones y reemplazos, consulta nuestra política de devoluciones.
                </p>
            </li>
        </ol>
        <p class="texto">
            Si tienes alguna pregunta o necesitas asistencia adicional con 
            respecto a nuestros envíos de anteojos, no dudes en ponerse en 
            contacto con nuestro equipo.
        </p>
    </div>
</div>
