h5 {
    margin-top: 20px;
}

ul {
    list-style-type: circle;
}

.titulo {
    font-weight: bold; /* Negrita */
}

.texto {
    font-weight: normal;
}

.cuadrado {
    position: relative;
}

.background-image {
    width: 100%;
    height: 1700px;
    object-fit: cover;
}

.contenido {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: justify;
    font-size: 25px;
    z-index: 1;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1199px) {
    .cuadrado {
        height: auto; /* Cambiar la altura del contenedor para ajustar el contenido */
    }

    .background-image{
        height: auto;
    }

    .contenido {
        position: static; /* Cambiar la posición para que el contenido fluya naturalmente */
        transform: none; /* Restablecer la transformación */
    }
}

