<div class="container">
    <div class="row my-5">
        <img src="/assets/ubicacion/central.jpg" class="col-6 rounded-3"  style="width: 50%; height: auto;">
        <label class="col">Optica Central: nos encontramos en la localidad de La Cruz, Ctes.
        Av Juan Branchi S/N al lado de las vías, entre calles Juan bautista cabral y calle Cabral.
        Para ir a la ubicación del local principal presione 
        <a type="button" class="" target="_blank"
        href="https://www.google.com/maps/place/Optica+Urbana/@-29.1718838,-56.6489125,19z/data=!4m6!3m5!1s0x945461a0c475980f:0x1faaadbaae4c72b6!8m2!3d-29.1717373!4d-56.6486537!16s%2Fg%2F11sb077sjb?entry=ttu">
        Aquí
        </a>
        </label>
    </div>
    <div class="row my-5">
        <img src="/assets/ubicacion/sucursal.jpg" class="col-6 rounded-3" style="width: 50%; height: auto;" >
        <label class="col">Sucursal: Visitanos en la localidad de Yapeyu, Ctes. Calle Aguado frente
        al Regimiento. Los dias Lunes, miercoles y viernes. de 11:15 a 17:30.
        Para ir a la ubicación de la sucursal presione
        <a type="button" class="" target="_blank"
        href="https://maps.app.goo.gl/jR9f6zd6xs4u8G1fA">
        Aquí
        </a> 
        </label>
    </div>
</div>


