<div class=" nuestroCatalogo d-flex flex-wrap justify-content-around  ">
  <p style="font-size: 50px; color: black;" class="fw-bold my-4">NUESTRO CATÁLOGO</p>
</div>
<div  class="d-flex justify-content-evenly mb-4 filtros p-2">
  <div class="d-flex justify-content-between align-items-center" *ngIf="authService.hasRoles()">
    <div class="input-group">
      <input 
        type="text" 
        id="modeloInput" 
        class="form-control" 
        placeholder="Ingresa el modelo..." 
        [(ngModel)]="modeloSeleccionado">
      <button class="btn btn-primary" (click)="buscarProductoPorModelo()">Buscar</button>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center" *ngIf="authService.hasRoles()">
    <div class="input-group">
      <input 
        type="text" 
        id="marcaInput" 
        class="form-control" 
        placeholder="Ingresa la marca..." 
        [(ngModel)]="marcaSeleccionado">
      <button class="btn btn-primary" (click)="buscarProductoPorMarca()">Buscar</button>
    </div>
  </div>
  
  <!-- Botón Registrar Paciente -->
  <button class="btn btn-success m-1"  *ngIf="authService.hasRoles()" [routerLink]="['/crearVariosProductos']">Crear producto</button>

  <div class="d-flex justify-content-between align-items-center " *ngIf="authService.hasRoles()">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#generarStockModal">
      Generar Stock del Local
    </button>
  </div>

  <!-- Botón Limpiar Filtro -->
  <div class="d-flex justify-content-between align-items-center " *ngIf="authService.hasRoles()">
    <button class="btn btn-secondary " (click)="limpiarFiltros()">Limpiar Filtros</button>
  </div>
</div>

<div class="alert alert-warning mx-5" role="alert" *ngIf="productos.length==0">
  No se encontraron productos 
</div>

<div class="container mt-5" *ngIf="productos.length > 0">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Categoria</th>
          <th>Material</th>
          <th>Genero</th>
          <th *ngIf="authService.hasRoles()">Costo</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Descripción</th>
          <th *ngIf="authService.hasRoles()">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Ejemplo de filas -->
        <tr *ngFor="let producto of productos">
          <td>{{producto.modelo}}</td>
          <td>{{producto.marca.nombre}}</td>
          <td>
            <div *ngFor="let categoria of producto.categorias">
              <p class="card-text">{{categoria.nombre}}</p>
            </div>
          </td>
          <td>{{ producto.material?.nombre || '' }}</td>
          <td>{{producto.genero}}</td>
          <td *ngIf="authService.hasRoles()">${{producto.costo}}</td>
          <td>${{producto.precio}}</td>
          <!-- Iterar sobre productoLocales -->
          <td>
            <div *ngFor="let productoLocal of producto.productoLocales">
              {{ productoLocal.local.nombre }}-Stock:{{ productoLocal.stock }}
            </div>
          </td>          
          <td>{{producto.descripcion}}</td>
          <td *ngIf="authService.hasRoles()">
            <button
              class="btn btn-primary btn-sm me-2"
              [routerLink]="['/editarProducto', producto.id]"
              [queryParams]="{ fromPage: paginador.number }"
            >
              Editar
            </button>

            <button class="btn btn-danger btn-sm" (click)="eliminarProducto(producto)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Paginador para productos -->
<nav aria-label="Page navigation" *ngIf="paginador && paginador.totalPages > 1">
  <ul class="pagination justify-content-center mt-3">

    <!-- Botón Anterior -->
    <li class="page-item" [class.disabled]="paginador.first">
      <a class="page-link cursor-pointer" (click)="paginaAnterior()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <!-- Números de página visibles -->
    <li *ngFor="let page of pages" [class.active]="paginador.number === page" class="page-item">
      <a class="page-link cursor-pointer" (click)="cambiarPagina(page)">{{ page + 1 }}</a>
    </li>

    <!-- Botón Siguiente -->
    <li class="page-item" [class.disabled]="paginador.last">
      <a class="page-link cursor-pointer" (click)="paginaSiguiente()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>


<!-- Modal para seleccionar local -->
<div
  class="modal fade"
  id="generarStockModal"
  tabindex="-1"
  aria-labelledby="generarStockModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="generarStockModalLabel">Seleccionar Local</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select" [(ngModel)]="localSeleccionado" required>
          <option *ngFor="let local of locales" [value]="local.id">{{ local.nombre }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="generarStockLocal()"
          data-bs-dismiss="modal"
        >
          Generar Excel
        </button>
      </div>
    </div>
  </div>
</div>