<div class="d-flex justify-content-center my-5 cont">
    <div class="card bg-light text-dark shadow-sm" style="width: 80%; border: 1px solid #ddd;">
      <!-- Encabezado -->
      <div class="card-header text-white fw-bold" style="background-color: #f57c42;">
        {{titulo}}
      </div>
      <div class="card-body">
        <!-- Lista de Ópticas -->
        <div class="mb-3 mx-3 group mt-3">
          <p id="listaMetodosPagos" class="form-label fw-bold">Lista de métodos de pago</p>
          <div class="form-check" *ngFor="let metodoPago of metodosPagos">
            <input class="form-check-input" type="radio" name="flexRadioDefault" [id]="metodoPago.id"
                   (change)="toggleMetodoPagoSelection(metodoPago)">
            <label class="form-check-label" [for]="metodoPago.id">
              {{metodoPago.nombre}}
            </label>
          </div>
          <button type="button" class="btn btn-outline-secondary mt-3" (click)="limpiarSeleccion();">
            Limpiar selección
          </button>
        </div>  
  
        <!-- Formulario -->
        <form #metodoPagoForm="ngForm">
          <!-- Nombre del Metodo de Pago -->
          <div class="row mb-3">
            <div class="col-md-12">
              <label for="InputMetodoPago" class="form-label fw-bold">Nombre del método de pago</label>
              <input type="text" class="form-control" id="InputMetodoPago" [(ngModel)]="metodoPago.nombre" 
                     name="metodoPago" required>
            </div>
          </div>
  
          <!-- Impuestos del Método de pago -->
          <div class="row mb-3">
            <div class="col-md-12">
              <label for="InputMetodoPagoImpuesto" class="form-label fw-bold">Impuesto del método de pago</label>
              <input type="number" class="form-control" id="InputMetodoPagoImpuesto" [(ngModel)]="metodoPago.impuesto" 
                     name="metodoPagoImpuesto" required>
            </div>
          </div>
  
          <!-- Botones -->
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-success me-2" (click)="crearMetodoPago()" 
                    [disabled]="!metodoPagoForm.form.valid || metodoPago.id!=null">
              Crear Método de Pago
            </button>
            <button type="submit" class="btn btn-primary me-2" (click)="editarMetodoPago()" 
                    [disabled]="metodoPago.id==null">
              Editar Método de Pago
            </button>
            <button type="submit" class="btn btn-danger" (click)="eliminarMetodoPago()" 
                    [disabled]="metodoPago.id==null">
              Eliminar Método de Pago
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  