<div class="cuadrado">
    <img src="/assets/sobre Nosotros/fondo2.jpg" alt="" class="background-image">
    <div class="contenido container rounded p-3">
        <img src="/assets/sobre Nosotros/nosotros.jpeg" alt="Bootstrap" class="rounded float-start m-3 nosotrosImage">
        <p>
            Bienvenido a <strong>I.B. Óptica</strong>, tu lugar de confianza para cuidar tu salud visual y encontrar la mejor atención personalizada.
        </p>
        <p>
            En <strong>I.B. Óptica</strong> me dedico a ofrecer un servicio profesional y cercano, adaptado a cada necesidad. Entiendo que tu visión es fundamental para tu calidad de vida, por eso trabajo con compromiso y dedicación en cada consulta.
        </p>
        <p>
            Solo trabajo con productos y marcas reconocidas en el rubro óptico, asegurando calidad, diseño y durabilidad en cada anteojo o lente que elijas.
        </p>
        <p>
            Además de ayudarte a ver mejor, busco brindarte información clara para que puedas tomar decisiones con confianza sobre tu salud visual.
        </p>
        <p>
            Mi objetivo es simple: que veas bien y te sientas cómodo en todo momento. Tu bienestar y satisfacción son mi prioridad.
        </p>
        <p>
            Gracias por confiar en <strong>I.B. Óptica</strong>. Estoy a tu disposición para ayudarte a ver el mundo con mayor claridad.
        </p>
        <p>
            Atentamente,El dueño de I.B. Óptica
        </p>
    </div>    
</div>
