<div class="cuadrado">
    <img src="/assets/sobre Nosotros/fondo2.jpg" alt="" class="background-image">
    <div class="contenido container rounded p-3">
        <img src="/assets/sobre Nosotros/nosotros.jpeg" alt="Bootstrap" class="rounded float-start m-3 nosotrosImage">
        <p>
            Bienvenido a Óptica Jimena Livotti, tu destino para una visión nítida y óptima. 
            Nos enorgullece ser tu socio confiable en el cuidado de tus ojos y en la mejora 
            de tu calidad de vida a través de una visión clara y saludable.
        </p>
        <p>
            En Óptica Jimena Livotti, entendemos que tu visión es un tesoro invaluable. Por eso, nos 
            dedicamos a brindar un servicio personalizado y profesional que se adapta a tus necesidades únicas. 
        </p>
        <p>
            Trabajamos con las marcas más reconocidas en la industria óptica para garantizar que tengas acceso a productos de alta calidad y diseño.
        </p>
        <p>
            En Óptica Jimena Livotti, nos esforzamos por educar y empoderar a nuestros clientes sobre la importancia de 
            mantener una buena salud visual a lo largo de sus vidas. Estamos aquí para responder tus preguntas, 
            abordar tus inquietudes y proporcionarte la atención que mereces en un ambiente acogedor y profesional.
        </p>
        <p>
            Nuestra misión es simple: brindarte una visión clara y cómoda para que puedas disfrutar la vida al máximo. Tu satisfacción y bienestar son nuestra mayor recompensa.
        </p>
        <p>
            Gracias por confiar en Óptica Jimena Livotti para tus necesidades de cuidado ocular. Estamos ansiosos por servirte 
            y ayudarte a lograr una visión clara y saludable que te permita disfrutar plenamente de la vida.
        </p>
        <p>
            Atentamente,
        </p>
        <p>
            El Equipo de Óptica Jimena Livotti
        </p>   
    </div>
    
</div>
