<div class="cuadrado">
    <img src="/assets/sobre Nosotros/fondo2.jpg" alt="" class="background-image">
    <div class="contenido container rounded p-3">
        <h2>Limpieza y conservación</h2>
        <p>
            La limpieza y conservación adecuada de tus lentes es fundamental 
            para mantener su calidad óptica y prolongar su vida útil. Aquí te dejo 
            algunos consejos para limpiar y conservar tus lentes de forma adecuada:
        </p>
        <h3>Limpieza de lentes:</h3>
        <ul>
            <li>
                <h4>
                    Limpieza de lentes:
                </h4>
                <p class="texto">
                    Antes de manipular tus lentes, asegúrate de lavarte las 
                    manos con agua y jabón suave para eliminar cualquier suciedad 
                    o grasa que pueda transferirse a las lentes. En el caso de que 
                    los lentes tengan manchas de grasa hacer una espuma jabonosa con 
                    jabón neutro y luego secar con los siguientes pasos:
                </p>
                <ol>
                    <li>
                        <h4>Enjuague con agua:</h4>
                        <p class="texto">
                            Enjuaga tus lentes con agua corriente para eliminar 
                            partículas de polvo y suciedad.
                        </p>
                    </li>
                    <li>
                        <h4>Usa un limpiador para lentes:</h4>
                        <p class="texto">
                            Aplica una o dos gotas de un limpiador específico para lentes 
                            (puedes comprarlo en ópticas o usar soluciones específicas) en 
                            cada lente. Evita usar productos no diseñados para limpiar 
                            lentes, como alcohol o detergentes.
                        </p>
                    </li>
                    <li>
                        <h4>Limpia con un paño suave:</h4>
                        <p class="texto">
                            Usa un paño de microfibra suave y sin pelusa para limpiar 
                            suavemente las lentes también lo podes hacer con papel secante 
                            tipo tissue suave . Realiza movimientos circulares y suaves 
                            para eliminar la suciedad.
                        </p>
                    </li>
                    <li>
                        <h4>Elimina manchas difíciles:</h4>
                        <p class="texto">
                            Si hay manchas resistentes, puedes humedecer el paño de 
                            microfibra con un poco de agua tibia o solución específica 
                            para lentes y frotar suavemente. Evita frotar con fuerza 
                            para no rayar las lentes.
                        </p>
                    </li>
                    <li>
                        <h4>Seca correctamente:</h4>
                        <p class="texto">
                            Asegúrate de que tus lentes estén completamente secas antes 
                            de colocarlas nuevamente en tu rostro o en su estuche. Un paño 
                            de microfibra es ideal para secarlas.
                        </p>
                    </li>
                </ol>
            </li>
        </ul>
        <h3>Conservación de lentes:</h3>
        <ul>
            <li>
                <h4>Usa un estuche apropiado:</h4>
                <p>
                    Guarda tus lentes en 
                    un estuche resistente y adecuado para evitar daños, 
                    arañazos o roturas cuando no las estés usando.
                </p>
            </li>
            <li>
                <h4>Evita altas temperaturas y exposición al sol:</h4>
                <p>
                    No dejes tus lentes expuestas a altas temperaturas o luz solar directa, 
                    ya que esto puede dañar los recubrimientos y materiales.
                </p>
            </li>
            <li>
                <h4>No los dejes boca abajo:</h4>
                <p>
                    Cuando no los uses, coloca tus lentes en su estuche con 
                    las lentes hacia arriba para evitar rayones en la superficie 
                    de las mismas.
                </p>
            </li>
            <li>
                <h4>Evita contacto con productos químicos:</h4>
                <p>
                    Evita el contacto de tus lentes con productos químicos 
                    agresivos como perfumes, aerosoles para el cabello o productos 
                    de limpieza.
                </p>
            </li>
            <li>
                <h4>Programa chequeos regulares:</h4>
                <p>
                    Realiza controles periódicos con tu óptico para asegurarte de 
                    que tus lentes estén en buen estado y ajustados correctamente.
                </p>
            </li>
        </ul>
        <p>
            Siguiendo estos consejos de limpieza y conservación, 
            podrás mantener tus lentes en óptimas condiciones y garantizar 
            una visión clara y cómoda.
        </p>     
    </div>
</div>

